@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
}

.page-content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.page-content.fade-in {
  opacity: 1;
}


/* sticky navigation bar buttons */
.nav-item {
  @apply bg-slate-300 bg-opacity-20 hover:bg-emerald-600 border-emerald-600 border-y-2 text-base shadow-md text-white;
}

/* containers dividing page into sections */
.section-container {
  @apply h-auto pt-20 border-b-2 border-black;
}


/* very small phones */
@media (max-width: 349px) {
  .nav-item {
    @apply px-[2px] py-2 text-sm;
  }
}

/* small phones such as iphone SE */
@media (min-width: 350px) {
  .nav-item {
    @apply px-1 py-2;
  }
}

/* larger phones */
@media (min-width: 400px) and (max-width: 499px) {
  .nav-item {
    @apply px-2 py-2;
  }
}

/* very small tablets */
@media (min-width: 500px) and (max-width: 649px) {
  .nav-item {
    @apply px-4 py-2;
  }
}

/* small tablets */
@media (min-width: 650px) and (max-width: 799px) {
  .nav-item {
    @apply px-6 py-3 text-lg;
  }
}

/* tablets */
@media (min-width: 800px) and (max-width: 1200px) {
  .nav-item {
    @apply px-10 py-3 text-lg;
  }
}

/* larger screen */
@media (min-width: 1201px) {
  .nav-item {
    @apply px-14 py-4 text-lg;
  }
}

/* for horizontal line effect in loadinganimation.js */
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100vw; 
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3);
  }
  to {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
  }
}
