@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
}

/* containers for main-sections/components on home page */
.section-container {
  @apply lg:min-h-screen h-auto pt-10 border-b-2 border-black;
}
