/* sticky navigation bar  */
.navA {
    @apply text-sm lg:text-lg text-white;
}

.navItem {
  @apply lg:w-[21.25%] w-[22.5%] py-2 lg:py-4 bg-black bg-opacity-65 dark:bg-slate-300 dark:bg-opacity-15 border-emerald-900 border-y-2 shadow-md text-center;
}

.navItem:hover {
  background: linear-gradient(to top, #004f3b, #009966); 
}

.activeNavItem { 
  background: linear-gradient(to top, #004f3b, #009966);  
  color: white;
}

.stickyNav {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 0;
}

.stickyNav::before {
  content: '';
  display: block;
  height: .6rem; 
}

